openapi: 3.0.0
info:
  title: Tenable Platform
  version: 1.0.0
tags:
  - name: Access Control
    description: ''
  - name: Connectors
    description: >-
      With third-party data connectors, you can import assets from other
      platforms into Tenable.io. Tenable.io supports programmatic interaction
      with the following connectors:


      - Amazon Web Services (AWS)

      - Microsoft Azure

      - Google Cloud Platform (GCP)


      Use the API to perform a standard set of CRUD operation on connector
      objects, and then use the connectors to import asset data by scheduling or
      running on-demand import jobs. For background information about
      connectors, see [Tenable.io Vulnerability Management User
      Guide](https://docs.tenable.com/vulnerability-management/Content/Platform/Settings/CloudConnectors/Connectors.htm).
  - name: Groups
    description: >-
      With user groups, you can categorize users and manage user permissions to
      Tenable.io resources. When you assign users to a group, the users inherit
      the permissions assigned to the group. Use the API to perform standard
      CRUD operations on group objects, and also to manage users in groups.


      For background information about groups, see [Tenable.io Vulnerability
      Management User
      Guide](https://docs.tenable.com/vulnerability-management/Content/Platform/Settings/AccessControl/Groups.htm).
  - name: Users
    description: >-
      User accounts enable you to provide access to Tenable.io and manage
      permissions for Tenable.io resources. You can use the API to perform
      standard CRUD operations on user objects, and also change passwords,
      generate API keys, impersonate users, enable multi-factor authentication,
      and manage access authorizations.


      For background information about managing users, see [Tenable.io
      Vulnerability Management User
      Guide](https://docs.tenable.com/vulnerability-management/Content/Platform/Settings/AccessControl/Users.htm).
security:
  - cloud: []
servers:
  - url: 'https://cloud.tenable.com'
components:
  securitySchemes:
    cloud:
      type: apiKey
      in: header
      name: X-ApiKeys
      description: Format - accessKey=ACCESS_KEY;secretKey=SECRET_KEY
x-readme:
  proxy-enabled: false
  samples-languages:
    - python
    - curl
    - node
    - powershell
    - ruby
    - javascript
    - objectivec
    - java
    - php
    - csharp
    - go
    - swift
    - kotlin
  explorer-enabled: true
  samples-enabled: true
paths:
  /api/v3/access-control/permissions:
    post:
      summary: Create permission
      description: >-
        Creates a permission.


        **Note:** The `AllAssets` object type is only compatible with `CanView`,
        `CanScan`, or empty permissions. The `Tag` object type is only
        compatible with `CanUse` and `CanEdit` permissions. <div
        class="perms-callout">Requires ADMINISTRATOR [64] user permissions. See
        [Permissions](doc:permissions).</div>
      operationId: io-v3-access-control-permission-create
      tags:
        - Access Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: >-
                    The name of the permission.


                    **Note:** The name must be unique, 255 characters or less,
                    and alphanumeric. The following special characters are
                    allowed: underscore, dash, parenthesis, brackets, and colon.
                  type: string
                actions:
                  description: >-
                    A list of actions to apply to the tags or the assets grouped
                    by tags. Possible actions are `CanScan`, `CanView`,
                    `CanEdit`, and `CanUse`.<ul><li>CanScan—Users assigned this
                    permission can scan assets or targets specified in the
                    tag.</li><li>CanView—Users assigned this permission can view
                    the assets and related vulnerabilities specified in the tag
                    in aggregated scan results
                    (workbenches/dashboards).</li><li>CanEdit—Users assigned
                    this permission can edit the tag value. If you assign this
                    permission to the All Users (Default) user group, all users
                    can edit the tag value.</li><li>CanUse—Users assigned this
                    permission can use the tag to scan the assets or targets
                    specified in the tag and use the tag for filtering in
                    aggregated scan results (workbenches/dashboards).</li></ul>
                  type: array
                  items:
                    type: string
                    enum:
                      - CanScan
                      - CanView
                      - CanEdit
                      - CanUse
                objects:
                  description: >-
                    A list of objects (tags or assets) that will have the
                    specified permission applied to them.
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        description: >-
                          The name of the tag object. 


                          **Note:** This parameter is valid for objects of type
                          `Tag` only. The format is `Category,Value` when
                          passing this parameter in a request. Note that this
                          same data is shown as `Category:Value` in responses
                          which differs from the request format. This parameter
                          is ignored for the `AllAssets` type.
                        type: string
                      type:
                        description: >-
                          The type of object. Valid types are `Tag` and
                          `AllAssets`.
                        type: string
                        enum:
                          - Tag
                          - AllAssets
                      uuid:
                        description: >-
                          The UUID of the tag object. 


                          **Note:** This parameter is valid for objects of type
                          `Tag` only. This parameter is ignored for the
                          `AllAssets` type.
                        type: string
                        format: uuid
                subjects:
                  description: >-
                    A list of users or user groups that you want the permission
                    applied to.
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        description: |-
                          The name of the user or user group.

                           **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                        type: string
                      type:
                        description: >-
                          The type of the subject. Valid types are `User`,
                          `UserGroup`, or `AllUsers`.
                        type: string
                        enum:
                          - User
                          - UserGroup
                          - AllUsers
                      uuid:
                        description: >-
                          The UUID of the user or user group.


                          **Note:** This parameter is valid for subjects of type
                          `User` or `UserGroup` only. This parameter is ignored
                          for For the `AllUsers` subject type.
                        type: string
                        format: uuid
              required:
                - name
                - actions
                - objects
                - subjects
      responses:
        '200':
          description: Returned if Tenable.io successfully creates the permission.
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    description: >-
                      A list of actions to applied to the tags or the assets
                      grouped by tags. Possible actions are `CanScan`,
                      `CanView`, `CanEdit`, and `CanUse`.
                    type: array
                    items:
                      type: string
                      enum:
                        - CanScan
                        - CanView
                        - CanEdit
                        - CanUse
                  name:
                    description: >-
                      The name of the permission.


                      **Note:** The name must be unique, 255 characters or less,
                      and alphanumeric. The following special characters are
                      allowed: underscore, dash, parenthesis, brackets, and
                      colon.
                    type: string
                  objects:
                    description: >-
                      A list of objects (tags or assets) that will have the
                      specified permission applied to them.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: >-
                            The name of the tag object. 


                            **Note:** This parameter is valid for objects of
                            type `Tag` only. The format is `Category,Value` when
                            passing this parameter in a request. Note that this
                            same data is shown as `Category:Value` in responses
                            which differs from the request format. This
                            parameter is ignored for the `AllAssets` type.
                          type: string
                        type:
                          description: >-
                            The type of object. Valid types are `Tag` and
                            `AllAssets`.
                          type: string
                          enum:
                            - Tag
                            - AllAssets
                        uuid:
                          description: >-
                            The UUID of the tag object. 


                            **Note:** This parameter is valid for objects of
                            type `Tag` only. This parameter is ignored for the
                            `AllAssets` type.
                          type: string
                          format: uuid
                  permission_uuid:
                    description: The UUID of the permission.
                    type: string
                  subjects:
                    description: >-
                      A list of users or user groups that you want the
                      permission applied to.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: |-
                            The name of the user or user group.

                             **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                          type: string
                        type:
                          description: >-
                            The type of the subject. Valid types are `User`,
                            `UserGroup`, or `AllUsers`.
                          type: string
                          enum:
                            - User
                            - UserGroup
                            - AllUsers
                        uuid:
                          description: >-
                            The UUID of the user or user group.


                            **Note:** This parameter is valid for subjects of
                            type `User` or `UserGroup` only. This parameter is
                            ignored for For the `AllUsers` subject type.
                          type: string
                          format: uuid
                  created_at:
                    description: >-
                      A Unix timestamp indicating the date and time on which the
                      permissions was created.
                    type: integer
                    format: int64
                  created_by:
                    description: The name of the user who created the permission.
                    type: string
                  updated_at:
                    description: >-
                      A Unix timestamp indicating the date and time on which the
                      permissions was updated.
                    type: integer
                    format: int64
                  updated_by:
                    description: The name of the user who last updated the permission.
                    type: string
              examples:
                response:
                  value:
                    permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e89f6
                    name: My test api
                    subjects:
                      - type: User
                        uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                        name: John Smith
                    actions:
                      - CanView
                    objects:
                      - type: Tag
                        uuid: 39f23717-2986-48a9-9e71-e71c403ea129
                        name: 'Test:Tag'
                    created_at: 1633016077580
                    created_by: admin@example.com
        '400':
          description: >-
            Returned if Tenable.io encountered any of the following error
            conditions:
             - Incorrect actions: The `AllAssets` object type is only compatible with `CanView`, `CanScan`, or empty permissions. The `Tag` object type is only compatible with `CanUse` and `CanEdit` permissions. 
             - Required fields are missing. Required fields are `name`, `subjects`, and `objects`.
             - The permission name doesn't meet the requirements.
        '403':
          description: Returned if you are not allowed to create permissions.
        '409':
          description: >-
            Returned if a permission with the same name already exists for your
            container.
      security:
        - cloud: []
    get:
      summary: List permissions
      description: >-
        Returns a list of all permissions in your container. <div
        class="perms-callout">Requires ADMINISTRATOR [64] user permissions. See
        [Permissions](doc:permissions).</div>
      operationId: io-v3-access-control-permissions-list
      tags:
        - Access Control
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully retrieved the list of
            permissions for your container.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
              examples:
                response:
                  value:
                    permissions:
                      - permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e89f6
                        name: My test api
                        subjects:
                          - type: User
                            uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                            name: John Smith
                        actions:
                          - CanView
                        objects:
                          - type: Tag
                            uuid: 39f23717-2986-48a9-9e71-e71c403ea129
                            name: 'Test:Tag'
                        created_at: 1633016077580
                        created_by: admin@example.com
                        updated_at: 1633016077581
                        updated_by: admin@example.com
        '403':
          description: Returned if you are not allowed to list the permissions.
      security:
        - cloud: []
  '/api/v3/access-control/permissions/{permission_uuid}':
    get:
      summary: Get permission details
      description: >-
        Returns the details for the specified permission. <div
        class="perms-callout">Requires ADMINISTRATOR [64]. See
        [Permissions](doc:permissions).</div>
      operationId: io-v3-access-control-permissions-details
      tags:
        - Access Control
      parameters:
        - description: The UUID of the permission to return details for.
          name: permission_uuid
          in: path
          required: true
          schema:
            pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            type: string
            format: uuid
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully retrieved the specified
            permission details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    description: >-
                      A list of actions to applied to the tags or the assets
                      grouped by tags. Possible actions are `CanScan`,
                      `CanView`, `CanEdit`, and `CanUse`.
                    type: array
                    items:
                      type: string
                      enum:
                        - CanScan
                        - CanView
                        - CanEdit
                        - CanUse
                  name:
                    description: >-
                      The name of the permission.


                      **Note:** The name must be unique, 255 characters or less,
                      and alphanumeric. The following special characters are
                      allowed: underscore, dash, parenthesis, brackets, and
                      colon.
                    type: string
                  objects:
                    description: >-
                      A list of objects (tags or assets) that will have the
                      specified permission applied to them.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: >-
                            The name of the tag object. 


                            **Note:** This parameter is valid for objects of
                            type `Tag` only. The format is `Category,Value` when
                            passing this parameter in a request. Note that this
                            same data is shown as `Category:Value` in responses
                            which differs from the request format. This
                            parameter is ignored for the `AllAssets` type.
                          type: string
                        type:
                          description: >-
                            The type of object. Valid types are `Tag` and
                            `AllAssets`.
                          type: string
                          enum:
                            - Tag
                            - AllAssets
                        uuid:
                          description: >-
                            The UUID of the tag object. 


                            **Note:** This parameter is valid for objects of
                            type `Tag` only. This parameter is ignored for the
                            `AllAssets` type.
                          type: string
                          format: uuid
                  permission_uuid:
                    description: The UUID of the permission.
                    type: string
                  subjects:
                    description: >-
                      A list of users or user groups that you want the
                      permission applied to.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: |-
                            The name of the user or user group.

                             **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                          type: string
                        type:
                          description: >-
                            The type of the subject. Valid types are `User`,
                            `UserGroup`, or `AllUsers`.
                          type: string
                          enum:
                            - User
                            - UserGroup
                            - AllUsers
                        uuid:
                          description: >-
                            The UUID of the user or user group.


                            **Note:** This parameter is valid for subjects of
                            type `User` or `UserGroup` only. This parameter is
                            ignored for For the `AllUsers` subject type.
                          type: string
                          format: uuid
                  created_at:
                    description: >-
                      A Unix timestamp indicating the date and time on which the
                      permissions was created.
                    type: integer
                    format: int64
                  created_by:
                    description: The name of the user who created the permission.
                    type: string
                  updated_at:
                    description: >-
                      A Unix timestamp indicating the date and time on which the
                      permissions was updated.
                    type: integer
                    format: int64
                  updated_by:
                    description: The name of the user who last updated the permission.
                    type: string
              examples:
                response:
                  value:
                    permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e89f6
                    name: My test api
                    subjects:
                      - type: User
                        uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                        name: John Smith
                    actions:
                      - CanView
                    objects:
                      - type: Tag
                        uuid: 39f23717-2986-48a9-9e71-e71c403ea129
                        name: 'Test:Tag'
                    created_at: 1633016077580
                    created_by: admin@example.com
        '403':
          description: Returned if you are not allowed to view the permission details.
        '404':
          description: Returned if Tenable.io could not find the specified permission.
      security:
        - cloud: []
    put:
      summary: Update permission
      description: >-
        Updates the specified permission. Note that this method overwrites the
        existing data. <div class="perms-callout">Requires ADMINISTRATOR [64].
        See [Permissions](doc:permissions).</div>
      operationId: io-v3-access-control-permission-update
      tags:
        - Access Control
      parameters:
        - name: permission_uuid
          description: The UUID of the permission that you want to update.
          in: path
          required: true
          schema:
            pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: >-
                    The name of the permission.


                    **Note:** The name must be unique, 255 characters or less,
                    and alphanumeric. The following special characters are
                    allowed: underscore, dash, parenthesis, brackets, and colon.
                  type: string
                actions:
                  description: >-
                    A list of actions to apply to the tags or the assets grouped
                    by tags. Possible actions are `CanScan`, `CanView`,
                    `CanEdit`, and `CanUse`.<ul><li>CanScan—Users assigned this
                    permission can scan assets or targets specified in the
                    tag.</li><li>CanView—Users assigned this permission can view
                    the assets and related vulnerabilities specified in the tag
                    in aggregated scan results
                    (workbenches/dashboards).</li><li>CanEdit—Users assigned
                    this permission can edit the tag value. If you assign this
                    permission to the All Users (Default) user group, all users
                    can edit the tag value.</li><li>CanUse—Users assigned this
                    permission can use the tag to scan the assets or targets
                    specified in the tag and use the tag for filtering in
                    aggregated scan results (workbenches/dashboards).</li></ul>
                  type: array
                  items:
                    type: string
                    enum:
                      - CanScan
                      - CanView
                      - CanEdit
                      - CanUse
                objects:
                  description: >-
                    A list of objects (tags or assets) that will have the
                    specified permission applied to them.
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        description: >-
                          The name of the tag object. 


                          **Note:** This parameter is valid for objects of type
                          `Tag` only. The format is `Category,Value` when
                          passing this parameter in a request. Note that this
                          same data is shown as `Category:Value` in responses
                          which differs from the request format. This parameter
                          is ignored for the `AllAssets` type.
                        type: string
                      type:
                        description: >-
                          The type of object. Valid types are `Tag` and
                          `AllAssets`.
                        type: string
                        enum:
                          - Tag
                          - AllAssets
                      uuid:
                        description: >-
                          The UUID of the tag object. 


                          **Note:** This parameter is valid for objects of type
                          `Tag` only. This parameter is ignored for the
                          `AllAssets` type.
                        type: string
                        format: uuid
                subjects:
                  description: >-
                    A list of users or user groups that you want the permission
                    applied to.
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        description: |-
                          The name of the user or user group.

                           **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                        type: string
                      type:
                        description: >-
                          The type of the subject. Valid types are `User`,
                          `UserGroup`, or `AllUsers`.
                        type: string
                        enum:
                          - User
                          - UserGroup
                          - AllUsers
                      uuid:
                        description: >-
                          The UUID of the user or user group.


                          **Note:** This parameter is valid for subjects of type
                          `User` or `UserGroup` only. This parameter is ignored
                          for For the `AllUsers` subject type.
                        type: string
                        format: uuid
              required:
                - name
                - actions
                - objects
                - subjects
        required: true
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully updated the specified
            permission.
        '400':
          description: >-
            Returned if Tenable.io encountered any of the following error
            conditions:
             - Incorrect actions: The `AllAssets` object type is only compatible with `CanView`, `CanScan`, or empty permissions. The `Tag` object type is only compatible with `CanUse` and `CanEdit` permissions. 
             - Required fields are missing. Required fields are `name`, `subjects`, and `objects`.
             - The permission name doesn't meet the requirements.
        '403':
          description: Returned if you are not allowed to update the permission.
        '404':
          description: Returned if Tenable.io could not find the specified permission.
      security:
        - cloud: []
    delete:
      summary: Delete permission
      description: >-
        Deletes the specified permission. <div class="perms-callout">Requires
        ADMINISTRATOR [64]. See [Permissions](doc:permissions).</div>
      tags:
        - Access Control
      operationId: io-v3-access-control-permission-delete
      parameters:
        - name: permission_uuid
          description: The UUID of the permission that you want to delete.
          in: path
          required: true
          schema:
            pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            type: string
            format: uuid
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully deleted the specified
            permission.
        '403':
          description: Returned if you are not allowed to delete the permission.
        '404':
          description: Returned if Tenable.io could not find the specified permission.
      security:
        - cloud: []
  '/api/v3/access-control/permissions/users/{user_uuid}':
    get:
      summary: List user permissions
      description: >-
        Returns a list of all permissions defined in your container.


        **Note:** In the response, the `permissions_granted` object lists all
        permissions granted to the specified user, and the
        `permissions_available` object lists all permissions available but not
        applied to the specified user. <div class="perms-callout">Requires
        ADMINISTRATOR [64]. See [Permissions](doc:permissions).</div>
      tags:
        - Access Control
      operationId: io-v3-access-control-permissions-user-list
      parameters:
        - name: user_uuid
          description: The UUID of the user group to list permissions for.
          in: path
          required: true
          schema:
            pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            type: string
            format: uuid
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully retrieved the list of user
            permissions for the specified user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions_granted:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
                  permissions_available:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
              examples:
                response:
                  value:
                    permissions_granted:
                      - permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e89f6
                        name: Area Managers
                        subjects:
                          - type: User
                            uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                            name: John Smith
                        actions:
                          - CanScan
                        objects:
                          - type: Tag
                            uuid: 39f23717-2986-48a9-9e71-e71c403ea129
                            name: 'Location:A1'
                        created_at: 1633016077580
                        created_by: admin@example.com
                    permissions_available:
                      - permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e8abc
                        name: Site Admins
                        subjects:
                          - type: UserGroup
                            uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                            name: Area Managers
                        actions:
                          - CanView
                        objects:
                          - type: Tag
                            uuid: 39f23717-2986-48a9-9e71-e71c403ea111
                            name: 'Location:All'
                        created_at: 1633016077580
                        created_by: admin@example.com
        '403':
          description: Returned if you are not allowed to view the user permissions.
      security:
        - cloud: []
  '/api/v3/access-control/permissions/user-groups/{user_group_uuid}':
    get:
      summary: List user group permissions
      description: |-
        Returns a list of all permissions defined in your container.

         **Note:** In the response, the `permissions_granted` object lists all permissions granted to the specified user group, and the `permissions_available` object lists all permissions available but not applied to the specified user group. <div class="perms-callout">Requires ADMINISTRATOR [64]. See [Permissions](doc:permissions).</div>
      tags:
        - Access Control
      operationId: io-v3-access-control-permissions-user-group-list
      parameters:
        - name: user_group_uuid
          description: The UUID of the user group to list permissions for.
          in: path
          required: true
          schema:
            pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            type: string
            format: uuid
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully retrieved the list of user group
            permissions for the specified user group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions_granted:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
                  permissions_available:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
              examples:
                response:
                  value:
                    permissions_granted:
                      - permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e89f6
                        name: Area Managers
                        subjects:
                          - type: UserGroup
                            uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                            name: Area Managers
                        actions:
                          - CanScan
                        objects:
                          - type: Tag
                            uuid: 39f23717-2986-48a9-9e71-e71c403ea129
                            name: 'Location:A1'
                        created_at: 1633016077580
                        created_by: admin@example.com
                    permissions_available:
                      - permission_uuid: 4bffa607-1044-49c8-a7e3-d07edd7e8abc
                        name: Site Admins
                        subjects:
                          - type: User
                            uuid: b6219964-5587-4992-b8e2-180d39de4f0a
                            name: John Smith
                        actions:
                          - CanView
                        objects:
                          - type: Tag
                            uuid: 39f23717-2986-48a9-9e71-e71c403ea111
                            name: 'Location:All'
                        created_at: 1633016077580
                        created_by: admin@example.com
        '403':
          description: Returned if you are not allowed to view the user group permissions.
      security:
        - cloud: []
  /api/v3/access-control/permissions/users/me:
    get:
      summary: Get current user permissions
      description: >-
        Returns the permissions assigned to the current user.


        **Note:** The subjects in the permissions are redacted to return only
        the current user and the user groups the current user belongs to. The
        list of permissions available is always empty. <div
        class="perms-callout">Requires Basic [16]. See
        [Permissions](doc:permissions).</div>
      tags:
        - Access Control
      operationId: io-v3-access-control-permissions-current-user-list
      responses:
        '200':
          description: >-
            Returned if Tenable.io successfully retrieved the permissions for
            the current user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions_granted:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
                  permissions_available:
                    type: object
                    properties:
                      actions:
                        description: >-
                          A list of actions to applied to the tags or the assets
                          grouped by tags. Possible actions are `CanScan`,
                          `CanView`, `CanEdit`, and `CanUse`.
                        type: array
                        items:
                          type: string
                          enum:
                            - CanScan
                            - CanView
                            - CanEdit
                            - CanUse
                      name:
                        description: >-
                          The name of the permission.


                          **Note:** The name must be unique, 255 characters or
                          less, and alphanumeric. The following special
                          characters are allowed: underscore, dash, parenthesis,
                          brackets, and colon.
                        type: string
                      objects:
                        description: >-
                          A list of objects (tags or assets) that will have the
                          specified permission applied to them.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: >-
                                The name of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. The format is `Category,Value`
                                when passing this parameter in a request. Note
                                that this same data is shown as `Category:Value`
                                in responses which differs from the request
                                format. This parameter is ignored for the
                                `AllAssets` type.
                              type: string
                            type:
                              description: >-
                                The type of object. Valid types are `Tag` and
                                `AllAssets`.
                              type: string
                              enum:
                                - Tag
                                - AllAssets
                            uuid:
                              description: >-
                                The UUID of the tag object. 


                                **Note:** This parameter is valid for objects of
                                type `Tag` only. This parameter is ignored for
                                the `AllAssets` type.
                              type: string
                              format: uuid
                      permission_uuid:
                        description: The UUID of the permission.
                        type: string
                      subjects:
                        description: >-
                          A list of users or user groups that you want the
                          permission applied to.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: |-
                                The name of the user or user group.

                                 **Note:** This parameter is valid for subjects of type `User` or `UserGroup` only. This parameter is ignored for For the `AllUsers` subject type.
                              type: string
                            type:
                              description: >-
                                The type of the subject. Valid types are `User`,
                                `UserGroup`, or `AllUsers`.
                              type: string
                              enum:
                                - User
                                - UserGroup
                                - AllUsers
                            uuid:
                              description: >-
                                The UUID of the user or user group.


                                **Note:** This parameter is valid for subjects
                                of type `User` or `UserGroup` only. This
                                parameter is ignored for For the `AllUsers`
                                subject type.
                              type: string
                              format: uuid
                      created_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was created.
                        type: integer
                        format: int64
                      created_by:
                        description: The name of the user who created the permission.
                        type: string
                      updated_at:
                        description: >-
                          A Unix timestamp indicating the date and time on which
                          the permissions was updated.
                        type: integer
                        format: int64
                      updated_by:
                        description: The name of the user who last updated the permission.
                        type: string
              examples:
                response:
                  value:
                    permissions_granted:
                      - permission_uuid: dc99495e-afed-421a-9417-bc7e8d5d1c22
                        name: Default
                        subjects:
                          - type: AllUsers
                        actions:
                          - CanScan
                          - CanView
                        objects:
                          - type: AllAssets
                        created_at: 1629364713836
                        created_by: System
                    permissions_available: []
      security:
        - cloud: []
  /settings/connectors:
    post:
      summary: Create connector
      description: >-
        Creates a Tenable.io cloud connector.


        **Note:** For AWS connectors, you can get the available AWS cloudtrails
        for your account via the [POST
        /settings/connectors/aws/cloudtrails](#io-connectors-get-aws-cloudtrails)
        endpoint.


        **Note:** Frictionless Assessment has reached the End-of-Provisioning
        phase of its product lifecycle. For more information, see [Frictionless
        Assessment
        End-of-Provisioning](https://developer.tenable.com/changelog/tenableio-frictionless-assessment-end-of-provisioning).
        <div class="perms-callout">Requires ADMINISTRATOR [64] user permissions.
        See [Permissions](doc:permissions).</div>
      operationId: io-connectors-create
      tags:
        - Connectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: AWS - Keyed
                  type: object
                  description: >-
                    There are several types of connectors. Each connector type
                    requires different parameters. This option displays only the
                    parameters for the AWS Keyed connector.
                  properties:
                    connector:
                      type: object
                      properties:
                        name:
                          type: string
                          description: >-
                            The name of the connector. The name can contain only
                            alphanumeric characters, commas, periods, dashes, at
                            signs, and underscores.
                        type:
                          type: string
                          description: >-
                            The type of the connector. For AWS keyed connectors,
                            the type is `aws`.
                          default: aws
                          enum:
                            - aws
                        network_uuid:
                          type: string
                          description: >-
                            The UUID of the [network](doc:manage-networks-tio)
                            to associate with the connector. You can find the
                            UUID using the [GET /networks](ref:networks-list)
                            endpoint. If you do not specify a network,
                            Tenable.io automatically associates the connector
                            with the default network (UUID
                            `00000000-0000-0000-0000-000000000000`).


                            Note: Tenable recommends creating a network for each
                            connector type in use to prevent asset records in
                            different cloud environments from overwriting each
                            other. For more information, see [Managing
                            Networks](doc:manage-networks-tio).
                          format: UUID
                          default: 00000000-0000-0000-0000-000000000000
                        params:
                          type: object
                          properties:
                            access_key:
                              description: The AWS access key.
                              type: string
                            secret_key:
                              description: The AWS secret key.
                              type: string
                            trails:
                              description: >-
                                A list of AWS cloudtrails associated with the
                                connector. The trails must be available to be
                                used by the connector. Use the [POST
                                /settings/connectors/aws/cloudtrails](ref:io-connectors-get-aws-cloudtrails)
                                endpoint to check the `availability` property of
                                cloudtrail objects.
                              type: array
                              items:
                                type: object
                                properties:
                                  arn:
                                    type: string
                                    description: >-
                                      The Amazon Resource Name (ARN) of the
                                      cloudtrail.
                                  name:
                                    type: string
                                    description: The name of the cloudtrail.
                                  region:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: >-
                                          The AWS region code, for example,
                                          `us-east-1`. The value of `All`
                                          indicates that the cloudtrail is
                                          associated with all AWS available
                                          regions.
                                      friendly_name:
                                        description: >-
                                          The AWS region name, for example, `US
                                          East (N. Virginia)`. The value of `All`
                                          indicates that the cloudtrail is
                                          associated with all AWS available
                                          regions.
                                        type: string
                                  availability:
                                    description: >-
                                      Indicates whether a cloudtrail is
                                      available to be used by a connector
                                      (logging is turned on in AWS, or it has at
                                      least one EventSelector with
                                      IncludeManagementEvents). Values include:
                                       - `success`—The cloudtrail is available.
                                       - `error`—The cloudtrail is not available.
                                    type: string
                                    enum:
                                      - success
                                      - error
                          required:
                            - access_key
                            - secret_key
                        schedule:
                          type: object
                          description: The data import schedule.
                          properties:
                            units:
                              type: string
                              description: >-
                                The units of time for the import interval. Units
                                can include `days`, `hours`, `minutes`.
                            value:
                              type: integer
                              description: The number of units between import intervals.
                      required:
                        - name
                        - type
                        - params
                - title: AWS - Keyless
                  type: object
                  description: >-
                    There are several types of connectors. Each connector type
                    requires different parameters. This option displays only the
                    parameters for the AWS Keyless connector.
                  properties:
                    connector:
                      type: object
                      properties:
                        name:
                          type: string
                          description: >-
                            The name of the connector. The name can contain only
                            alphanumeric characters, commas, periods, dashes, at
                            signs, and underscores.
                        type:
                          type: string
                          description: >-
                            The type of the connector. For AWS keyless
                            connectors, the type is `aws_keyless`.
                          default: aws_keyless
                          enum:
                            - aws_keyless
                        network_uuid:
                          type: string
                          description: >-
                            The UUID of the [network](doc:manage-networks-tio)
                            to associate with the connector. You can find the
                            UUID using the [GET /networks](ref:networks-list)
                            endpoint. If you do not specify a network,
                            Tenable.io automatically associates the connector
                            with the default network (UUID
                            `00000000-0000-0000-0000-000000000000`).


                            Note: Tenable recommends creating a network for each
                            connector type in use to prevent asset records in
                            different cloud environments from overwriting each
                            other. For more information, see [Managing
                            Networks](doc:manage-networks-tio).
                          format: UUID
                          default: 00000000-0000-0000-0000-000000000000
                        params:
                          type: object
                          properties:
                            tags:
                              description: >-
                                The AWS tag associated with the hosts you want
                                to assess. 


                                **Note:** You can no longer use Frictionless
                                Assessment tags to create an AWS keyless
                                (`aws_keyless`) connector with Frictionless
                                Assessment. To create an AWS with Frictionless
                                Assessment connector, use the `aws_fa` connector
                                type when creating the connector.
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    description: >-
                                      The AWS tag associated with the hosts you
                                      want to assess.
                                    type: string
                                  value:
                                    description: >-
                                      The value of the AWS tag associated with
                                      the hosts you want to assess.
                                    type: string
                            auto_discovery:
                              description: >-
                                Specifies whether Auto Discovery is enabled or
                                not. If Auto Discovery is enabled, the connector
                                will automatically discover linked accounts and
                                CloudTrails.
                              type: boolean
                            sub_accounts:
                              description: >-
                                A list of AWS accounts associated with the
                                connector.
                              type: array
                              items:
                                type: object
                                properties:
                                  account_id:
                                    type: string
                                    description: The AWS account ID.
                                  role_arn:
                                    type: string
                                    description: >-
                                      The Amazon Resource Name (ARN) of the role
                                      generated based on the associated account
                                      ID.
                                  external_id:
                                    description: >-
                                      The UUID of your Tenable.io instance used
                                      by AWS to identify it as a client
                                      application. You can obtain the UUID of
                                      your Tenable.io account using the [GET
                                      /users/{user_id}](ref:users-details)
                                      endpoint. The UUID corresponds to the
                                      `container_uuid` attribute of the response
                                      message for that endpoint.
                                    type: string
                                  trails:
                                    description: >-
                                      A list of AWS cloudtrails associated with
                                      the account.
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        arn:
                                          type: string
                                          description: >-
                                            The Amazon Resource Name (ARN) of the
                                            cloudtrail.
                                        name:
                                          type: string
                                          description: The name of the cloudtrail.
                                        region:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                              description: >-
                                                The AWS region code, for example,
                                                `us-east-1`. The value of `All`
                                                indicates that the cloudtrail is
                                                associated with all AWS available
                                                regions.
                                            friendly_name:
                                              description: >-
                                                The AWS region name, for example, `US
                                                East (N. Virginia)`. The value of `All`
                                                indicates that the cloudtrail is
                                                associated with all AWS available
                                                regions.
                                              type: string
                                        availability:
                                          description: >-
                                            Indicates whether a cloudtrail is
                                            available to be used by a connector
                                            (logging is turned on in AWS, or it has
                                            at least one EventSelector with
                                            IncludeManagementEvents). Values
                                            include:
                                             - `success`—The cloudtrail is available.
                                             - `error`—The cloudtrail is not available.
                                          type: string
                                          enum:
                                            - success
                                            - error
                                  incremental_mode:
                                    type: boolean
                                    description: >-
                                      Indicates whether a connector has
                                      completed the initial full import
                                      successfully. If the value is `true`, then
                                      the connector is in incremental mode where
                                      it imports assets based on events instead
                                      of enumerating all assets in the account
                                      every single time.
                            trails:
                              description: >-
                                A list of AWS cloudtrails associated with the
                                connector. The trails must be available to be
                                used by the connector. Use the [POST
                                /settings/connectors/aws/cloudtrails](ref:io-connectors-get-aws-cloudtrails)
                                endpoint to check the `availability` property of
                                cloudtrail objects.
                              type: array
                              items:
                                type: object
                                properties:
                                  arn:
                                    type: string
                                    description: >-
                                      The Amazon Resource Name (ARN) of the
                                      cloudtrail.
                                  name:
                                    type: string
                                    description: The name of the cloudtrail.
                                  region:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: >-
                                          The AWS region code, for example,
                                          `us-east-1`. The value of `All`
                                          indicates that the cloudtrail is
                                          associated with all AWS available
                                          regions.
                                      friendly_name:
                                        description: >-
                                          The AWS region name, for example, `US
                                          East (N. Virginia)`. The value of `All`
                                          indicates that the cloudtrail is
                                          associated with all AWS available
                                          regions.
                                        type: string
                                  availability:
                                    description: >-
                                      Indicates whether a cloudtrail is
                                      available to be used by a connector
                                      (logging is turned on in AWS, or it has at
                                      least one EventSelector with
                                      IncludeManagementEvents). Values include:
                                       - `success`—The cloudtrail is available.
                                       - `error`—The cloudtrail is not available.
                                    type: string
                                    enum:
                                      - success
                                      - error
                        schedule:
                          type: object
                          description: The data import schedule.
                          properties:
                            units:
                              type: string
                              description: >-
                                The units of time for the import interval. Units
                                can include `days`, `hours`, `minutes`.
                            value:
                              type: integer
                              description: The number of units between import intervals.
                      required:
                        - name
                        - type
                        - params
                - title: AWS with Frictionless Assessment
                  type: object
                  description: >-
                    There are several types of connectors. Each connector type
                    requires different parameters. This option displays only the
[...]
